@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/Inter-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Monocraft-Regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/Monocraft-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'DMSans-Regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/DMSans-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'DMSans-Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/DMSans-Bold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'DMSans-SemiBold';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/fonts/DMSans-SemiBold.ttf') format('truetype');
  }
}

:root {
  --background: #171717;
  --foreground: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #FFFFFF;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .landing-challenge {
    box-shadow: 0 0 4px 0 rgb(255 255 255 / 0.05), 0 0 4px 2px rgb(255 255 255 / 0.04);
  }
  .floating-grid {
    position: absolute;
    right: 0;
    width: 30vw;
    height: auto;
    margin-top: -8rem;
    pointer-events: none;
  }
  .floating-ship-1 {
    position: absolute;
    left: -4.5vw;
    bottom: -4.5vw;
    width: 10vw;
    height: auto;
    pointer-events: none;
  }
  .floating-ship-2 {
    position: absolute;
    right: -3.5vw;
    top: -3.5vw;
    width: 8vw;
    height: auto;
    pointer-events: none;
  }
  .floating-fuel-1 {
    position: absolute;
    left: -2.5vw;
    bottom: -2.5vw;
    width: 5vw;
    height: auto;
    pointer-events: none;
  }
  .floating-fuel-2 {
    position: absolute;
    right: -1.5vw;
    top: -3vw;
    width: 4vw;
    height: auto;
    pointer-events: none;
  }
}
